@import url(https://db.onlinewebfonts.com/c/14936bb7a4b6575fd2eee80a3ab52cc2?family=Feather+Bold);
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #1e1e1e;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.app-container {
  width: 100%;
  background-color: #1e1e1e;
  box-shadow: 0 0 rgba(0, 0, 0, 0.4);
}

.header {
  display: flex;
  align-items: center;
  background-color: #1e1e1e;
  padding: 3vh;
  padding-bottom: 0;
  padding-top: 0;
}

.header img {
  height: 10vh;
  margin-left: -4vh;
}

.header h1 {
  color: white;
  font-family: 'Feather Bold';
  font-size: 100px;
  font-weight: 400;
}

.lessons-section {
  grid-column-start: 1;
  grid-column-end: 2;
  background-color: #2c2c2c;
  padding: 40px 16px 40vh 16px; 
  border-left: 2vh solid #732fd2;
  border-right: 2vh solid #732fd2;
  border-top: 2vh solid #732fd2;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border-radius:20px;
}


.lessons-title {
  grid-column: 1;
  color: white;
  font-size: 120px;
  font-weight: bold;
  margin-bottom: 2vh;
}


.lesson-button {
  margin: 1.5vh 0;
  grid-column:2 ;
  background-color: #9c4dcc;
  color: white;
  border: none;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 20px;
  width: 75%;
  height: auto;
  font-family: 'Baloo 2';
  font-weight:700;
  font-size: 60px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.lesson-button:hover {
  background-color: #7e3bb2;
}
